//archivo con las clases globales del proyecto
@use 'variables';
@use 'mixin';
//para el fondo del nav
.bg-nav{
    background-color: variables.$bg_color;
}

//para los estilos del nav
.nav-style{
    a{
        color: white;
    }
    .nav-title{
        //usar funcion dentro de mixin
        padding-left: mixin.rem(5);
        position: relative;
        top: mixin.rem(30);
    }
}
.card-margin{
    margin-top: 10%;
}

